
:root{

     --color-primary:#FF900E;
     --color-secondary:#727272;
     --color-tertiary:#131313;
     --font-primary: 'Open Sans', sans-serif;

}

 /* Common Style  */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   font-family: var(--font-primary);
}

.container{
    padding: 0 25px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.btn{
    background-color:var(--color-primary);
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 700;

}

.section__text{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    margin: 32px 0;

}

.article__title{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-tertiary);

}


  /* Start Nav Styles  */

  .nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 30px;
  }

 .nav__container > ul{
    display: flex;
    list-style: none;
    gap: 25px;
  }

   .manu__bar i{
    color: #FF900E;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }

  #click{
    display: none;
  }

  /* End Nav Styles  */

  /* Start Banner Styles */

  .banner__container{
    padding: 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
    background-color: rgba(255, 144, 14, 0.1);
  }

  .banner__image > img{
    width: 100%;
    height: 100%;
  }

  .banner__title{
    font-size: 60px;
    font-weight: 700;
    color: #131313;
  }

  .btn__Explore{
    padding: 21px 30px;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 700;
  }

  /* Start Feature Styles  */

  .feature__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:70px;
    margin-top: 40px;
  }

  .photo__gallery__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
  }

  .feature__title{

    font-size: 60px;
    font-weight: 700;
    color: #131313;

  }

  .btn___feature{
    padding: 24px 35px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  span{
    color: var(--color-primary);
  }

  /* End Feature Styles */

  /* Start Love Styles  */

  .love{
    display: flex;
   justify-content: space-around;
   
  }

  .line{
    width: 5px;
    height: 120px;
    border-left: 6px solid var(--color-primary);
  }
  .love__description{
    display: flex;
    justify-content: center;
    padding: 8rem;
    gap:15px;
   
  }

  .love__image > img{
    width: 100%;
    height: 100%;
  }


  .love__title{
    font-size: 45px;
    font-weight: 700;
    color: var(--color-tertiary);
  }

  .btn__love{
    background-color: var(--color-primary);
    padding: 30px 40px;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: -150px;
    border: none;
    border-radius: 8px;
  }

  .love__experience{
    color: #FFFFFF;
    font-size: 25px;
  }


  /* Start Facts Styles  */

  .facts__container{
    margin-top: 170px;
  }


  .facts__gallery__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    transition: 1s ;
    margin:130px 0;
  }

  .facts__title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
  }


  .facts__gallery__item{
    width: 300px;
    height: 250px;
    border: 1px solid var(--color-primary);
    padding: 100px;
  }

  .facts__gallery__item:hover{

   transform:scale(0.5)
  }

  .facts__number{
    font-size: 20px;
    font-weight: 600;
    color:#424242;
  }

  .facts__text{
    font-size: 10px;
    font-weight: 600;
    color: #727272;
  }

  /* End Facts styles  */

   /* Start About Section  */
   .about__container{
    display: flex;
   justify-content: space-around;
    
   }

   .btn__about{
    padding: 20px 45px;
    margin-top: 30px;
   }

   .about__image{
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--color-primary);
   }

   .about__image > img{
    width: 100%;
    height: 100%;
   }

   /* End About section  */

   /* Start Sponsors Section  */


   .sponsors{
    padding: 50px;
    margin-top: 150px;
   }

   .sponsors__heading{
    text-align: center;
   }

   .sponsor__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:50px;
    margin-top: 50px;
   }

   .sponsor__title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
   }

   /* End Sponsor Style  */

   /* Start Footer Style  */

   .footer__container{
        background-color:#FFF4E7;
        height: 80px;
        display: flex;
        width: 100%;
        max-width: 1400;
        justify-content:center ;
        align-items: center;
        margin-top: 200px;
    }
   .footer__text{
         font-size: 20px;
         font-weight: 400;
         color: #424242;
   }

   /* End footer Styles  */


   /* Start Media Query  */

   
   @media only screen and (max-Width:576px){
    .nav__container > ul{
       position: fixed;
       top: 100px;
       left: -100%;
       height: 100vh;
       width: 100%;
       display: block;
       text-align: center;
    }

    .nav__container > ul > li{
      margin: 20px 0;
      font-weight: 500;
    }

    .manu__bar i{
      display: block;
    }

    #click:checked ~ul{
      left: 0;
    }
    

    .feature__container{
    
      flex-direction: column;
     
    }


    .love__title{
      font-size: 25px;
    
    }

    .love__descripti{
      text-align: start;
    }
    
  .photo__gallery__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }

  .love{
   
    flex-direction: column;
   
   
  }


  .facts__gallery__container{
   
    gap: 70pxpx;
   
  }

  .about__container{
   flex-direction: column;
   gap: 50px;
    
   }


   .footer__text{
    font-size: 14px;
   
}
    

}